@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  font-family:
    "Noto Sans JP",
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic UI",
    "Yu Gothic",
    "Meiryo",
    "Noto Sans CJK JP",
    "Source Han Sans JP",
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji",
    sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

html:lang(ja) body {
  font-variant-east-asian: proportional-width;
  font-feature-settings: "palt" 1, "pkna" 1;
}
